body {
  background-color: rgb(132, 187, 241);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.html {
  width: 500px;
  height: 800px;
  border-radius: 1px;
}

.code-mirror-wrapper {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  height: 100% !important;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-40 {
  flex: 1 0 40%;
  margin: 0 1rem;
}

.center {
  text-align: center;
}
